/node_modules
/dist
/build
/coverage
/logs
/tmp
/public
/src
/test
/tsconfig.json
/tsconfig.app.json

.env.local
.env
.env.development
.env.production
.env.test
.env.development.local
.env.production.local
.env.test.local
.env.development.local.example
.env.production.local.example